@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-50: #f0fdf4;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-900: #064e3b;
}

/* Slim Premium Scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #09090b; /* Zinc 950 */
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* Zinc 800 */
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Zinc 700 */
}
